.container-test {
    align-items: center;
    text-align: center;
}

.container {
    max-width: max-content;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
  }

.body{
    margin: 0;
    background: pink;
    text-align: center;
}